:root{
    --header-border-color:#ECECEC;
    --blue-color:#2196F3;
    --black:#010101; 
    --dark-grey:#2F303A;
    --white:#FEFEFE;
    --grey:#757575;
    --dark-white:#F5F4FA;
    --dark-blue:#188CE8;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1, h2, h3, p{
    margin: 0;
}
.container{
    width: 1200px;
    /* padding: 0 15px;  Я не понимаю, почему нельзя заменить две нижние строчки этой? У нас не указаны верхние и нижние отступы, так что строчки делают одно и тоже */
    padding-left: 15px;
    padding-right: 15px;
    /* margin: 0 auto; То же самое с этой строчкой */
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding: 94px 0;
    display: flex;
}
img{
    display: block;
    /* width: 100%; а в требованиях указывали, что нужно*/
    height: auto;
}
.header{
    border-bottom: 1px solid var(--header-border-color);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-wrapper{
    display: flex;
    align-items: center;
}
.navigation-wrapper nav{
    margin-left: 90px;
}
.web-studio{
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}
.web-studio .web{
    color: var(--blue-color);
}
.navigation{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.navigation li:not(:last-child){
    margin-right: 50px;
}
.navpoint{
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.navpoint.current{
    color: var(--blue-color);
}
.navpoint:hover{
    color: var(--blue-color);
}
.header-contact{
    display: flex;
}
.header-contact-item{
    text-decoration: none;
    color: var(--grey);
    font-size: 14px;
    font-weight: 500;
}
.header-contact li:first-child{
    margin-right: 50px;
}
.header-contact-item:hover{
    color: var(--blue-color);
}
.order{
    background-color: var(--dark-grey);
    /* padding: 0 200px */
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center
}
.order-h1{
    margin: 0 auto 30px; /* Почему тогда здесь в одну строку, если до этого было неправльно? */
    color: var(--white);
    font-family: inherit;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    width: 696px;
    letter-spacing: 0.06em;
    line-height: 60px;
}
.order-button{
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 216px;
    height: 50px;
    font-family: inherit;
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0.06em;
    cursor: pointer;
    line-height: 30px;
}
.order-button:hover{
    background-color: var(--dark-blue);
}
.part1{
    padding-bottom: 0;
}
.aside{
    justify-content: center;
    display: flex;
}
.atext{
    width: 270px;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    margin-right: 30px;
    color: var(--grey);
    letter-spacing: 0.03em;
    line-height: 24px;
}
.atext2{
    margin-right: 0;
}
.h3{
    color: var(--black);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}
.h2{
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}
.actions{
    display: flex;
}
.whatwedo{
    width: 370px;
}
.actions li:not(:last-child){
    margin-right: 30px;
}
.part3{
    background-color: var(--dark-white);
}
.people{
    display: flex;
}
.person{
    display: inline-block;
    width: 270px;
    background: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.person:not(:last-child){
    margin-right: 40px;
}
.image-info{
    padding: 20px 24px;
    line-height: 36px;
}
.name{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 4px;
}
.position{
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey);
    margin: 0;
}
.footer{
    background-color: var(--dark-grey);
    padding: 60px 0;
}
.web-studio2{
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}
.web-studio2 .web2{
    color: var(--blue-color);
}
.address{
    margin-top: 20px;
}
.footer-info{
    list-style-type:none;
    font-style: normal;
    margin: 0;
}
.point-footer{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.point-footer-white{
    color: var(--white);
}
.point-footer:hover{
    color: var(--blue-color);
}
.point-footer-white:hover{
    color: var(--blue-color);
}
.space{
    margin-bottom: 10px;
}
.filters{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 50px;
}
.filters li:not(:last-child){
    margin-right: 8px;
}
.filter-button{
    height: 38px;
    background: var(--dark-white);
    border-radius: 4px;
    border:none;
    padding: 0 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.filter-button:hover{
    background: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--white);
}
.left-info{
    border: 1px solid var(--dark-white);
}
.left-info h2, .left-info p{
    text-align: left;
}
.imagesforfilters{
    display: flex;
    flex-wrap:  wrap;
    margin: 0;
}
.allimages{
    width: calc((100% - 60px) / 3);
}
.portfolio-image{
    width: 100%;
}
.allimages:not(:nth-child(3n)){
    margin-right: 30px;
}
.allimages:not(.last-row){
    margin-bottom: 30px;
}
